@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Press Start 2P', sans-serif;
  color: #eee;
  background-color: #222;
  /* background-color: #60b347; */
  margin: 3rem;
}

/* LAYOUT */
header {
  font-size: 1rem;
  text-align: center;
  position: static;
  width: 100%;
  margin: 2rem;
}

main {
  text-align: center;
  position: static;
  justify-content: space-between;
  color: #eee;
  display: flex;
  align-items: center;
}

.reel {
  padding: 5%;
  display: flex;
  font-size: 10em;
  background-image: linear-gradient(to top left, #825236 0%, #f8bb11 100%);
  align-items: center;
  margin: 4%;
}

.reel--image {
  /* padding: 5%; */
  height: 20rem;
  width: 20rem;
  display: flex;
  align-items: center;
  margin: 4%;
}

.reel--image img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}


#reel--1 {
  /* width: 52rem; */
  /* display: flex; */
  /* flex-direction: column; */
  align-items: center;
}

#reel--2 {
    /* width: 52rem; */
    /* display: flex; */
    /* flex-direction: column; */
    align-items: center;
}

#reel--3 {
    /* width: 52rem; */
    /* display: flex; */
    /* flex-direction: column; */
    align-items: center;
}


/* ELEMENTS STYLE */
h1 {
  font-size: 4rem;
  text-align: center;
  position: static;
  width: 100%;
}


p {
  text-align: center;

  /* position: center; */
  /* width: 100%; */
}

  
.spin {
  border: none;
  background-color: #eee;
  color: #222;
  font-size: 2rem;
  font-family: inherit;
  padding: 2rem 3rem;
  cursor: pointer;
  margin: 2rem;
}

.hidden {
  display: none;
}